html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Source Sans Pro", sans-serif;
}

body {
  font-size: 3rem;
  text-align: center;
}

p {
  color: yellow;
  font-weight: bold;
}

p span {
  display: block;
  color: yellow;
  font-size: 5rem;
}
